@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

:root {
  font-family: Roboto, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 235, 82, 0.87);
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;  /* caused by customer cursor */
}


/* Default Elements */
a {
  font-weight: 500;
  color: #73ffad;
  text-decoration: inherit;
}

a:hover {
  color: #00f178;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* Layout */
body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
  cursor: none;
}

@media (max-width: 768px) {
  body {
    min-height: 80vh; /* For mobile devices */
  }
}


/* Custom Cursor */
.cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(48, 214, 68);
	mix-blend-mode: difference;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: width 0.3s, height 0.3s, background-color 0.3s;
	animation: glow 1s infinite alternate;
}
@keyframes glow {
	0% {
		box-shadow: 0 0 10px 5px rgba(0, 255, 4, 0.5);
	}
	100% {
		box-shadow: 0 0 20px 10px rgba(30, 255, 0, 0.9);
	}
}
